<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="it.unibg.robotics.componentmodels.orocos.m2t.category"
            name="Orocos M2T">
      </category>
      <command
            categoryId="it.unibg.robotics.componentmodels.orocos.m2t.category"
            id="it.unibg.robotics.componentmodels.orocos.m2t.orocosXML"
            name="Generate XML File for Orocos deployment">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.componentmodels.orocos.m2t.handler.OrocosXmlTransform"
            commandId="it.unibg.robotics.componentmodels.orocos.m2t.orocosXML">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:it.unibg.robotics.componentmodels.menu.m2t">
         <command
               commandId="it.unibg.robotics.componentmodels.orocos.m2t.orocosXML"
               label="Generate Orocos XML"
               style="push">
         </command>
      </menuContribution>
      
   </extension>

</plugin>
