<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:it.unibg.robotics.componentmodels.menu">
         <menu
               id="it.unibg.robotics.componentmodels.menu.m2t"
               label="Model-2-Texet">
         </menu>
      </menuContribution>
      
   </extension>

</plugin>
