<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 HyperFlex Toolchain
 
 Copyright (c) 2013
 All rights reserved.
 
 Luca Gherardi
 Department of Engineering
 University of Bergamo
 
 ***********************************************************************************************
 
 Author: <A HREF="mailto:lucagh@ethz.ch">Luca Gherardi</A>
 
 In collaboration with: <A HREF="mailto:brugali@unibg.it">Davide Brugali</A>
 
 ***********************************************************************************************
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tcaComponentModel -->
      <wizard
            id="org.hyperflex.tcacomponentmodel.presentation.tcacomponentmodelModelWizardID"
            name="%_UI_tcacomponentmodelModelWizard_label"
            class="org.hyperflex.tcacomponentmodel.presentation.tcacomponentmodelModelWizard"
            category="org.hyperflex.hyperflex.wizard.category"
            icon="icons/full/obj16/tcacomponentmodelModelFile.gif">
         <description>%_UI_tcacomponentmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tcaComponentModel -->
      <editor
            id="org.hyperflex.tcacomponentmodel.presentation.tcacomponentmodelEditorID"
            name="%_UI_tcacomponentmodelEditor_label"
            icon="icons/full/obj16/tcacomponentmodelModelFile.gif"
            extensions="tcacomponentmodel"
            class="org.hyperflex.tcacomponentmodel.presentation.tcacomponentmodelEditor"
            contributorClass="org.hyperflex.tcacomponentmodel.presentation.tcacomponentmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
