<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 HyperFlex Toolchain
 
 Copyright (c) 2013
 All rights reserved.
 
 Luca Gherardi
 University of Bergamo
 Department of Engineering
 
 ***********************************************************************************************
 
 Author: <A HREF="mailto:lucagh@ethz.ch">Luca Gherardi</A>
 
 In collaboration with: 
   <A HREF="mailto:brugali@unibg.it">Davide Brugali</A>, Department of Engineering
 
 ***********************************************************************************************
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rosCompositionModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.hyperflex.roscompositionmodel.presentation.roscompositionmodelModelWizardID"
            name="%_UI_roscompositionmodelModelWizard_label"
            class="org.hyperflex.roscompositionmodel.presentation.roscompositionmodelModelWizard"
            category="org.hyperflex.wizard.category"
            icon="icons/full/obj16/roscompositionmodelModelFile.gif">
         <description>%_UI_roscompositionmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rosCompositionModel -->
      <editor
            id="org.hyperflex.roscompositionmodel.presentation.roscompositionmodelEditorID"
            name="%_UI_roscompositionmodelEditor_label"
            icon="icons/full/obj16/roscompositionmodelModelFile.gif"
            extensions="roscompositionmodel"
            class="org.hyperflex.roscompositionmodel.presentation.roscompositionmodelEditor"
            contributorClass="org.hyperflex.roscompositionmodel.presentation.roscompositionmodelActionBarContributor">
      </editor>
   </extension>
</plugin>
