<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="it.unibg.robotics.hyperflex.ui.views"
            class="it.unibg.robotics.featuremodels.ui.views.InstanceView"
            icon="icons/fm.ico"
            id="it.unibg.robotics.featuremodels.ui.views.instanceview"
            name="Instance View">
      </view>
      <view
            allowMultiple="false"
            category="it.unibg.robotics.hyperflex.ui.views"
            class="it.unibg.robotics.featuremodels.ui.views.ConstraintView"
            icon="icons/fm.ico"
            id="it.unibg.robotics.featuremodels.ui.views.constraintview"
            name="Constraint View">
      </view>
   </extension>

</plugin>
