<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Variability Modeling And Resolution Plugins (VARP)
 
 Copyright (c) 2013
 All rights reserved.
 
 Luca Gherardi
 University of Bergamo
 Dept. of Information Technology and Mathematics
 
 ***********************************************************************************************
 
 Author: <A HREF="mailto:lucagh@ethz.ch">Luca Gherardi</A>
 
 In collaboration with: <A HREF="mailto:brugali@unibg.it">Davide Brugali</A>
 
 ***********************************************************************************************
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 
-->

<plugin>


   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated compositionModel -->
      <wizard
            id="org.hyperflex.compositionmodel.presentation.compositionmodelModelWizardID"
            name="%_UI_compositionmodelModelWizard_label"
            class="org.hyperflex.compositionmodel.presentation.compositionmodelModelWizard"
            category="it.robotics.unibg.hyperflex.wizard.category"
            icon="icons/full/obj16/compositionmodelModelFile.gif">
         <description>%_UI_compositionmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.hyperflex.compositionmodel.presentation.compositionmodelEditorID"
            name="%_UI_compositionmodelEditor_label"
            icon="icons/full/obj16/compositionmodelModelFile.gif"
            extensions="compositionmodel"
            class="org.hyperflex.compositionmodel.presentation.compositionmodelEditor"
            contributorClass="org.hyperflex.compositionmodel.presentation.compositionmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
