*.class

bin/

.settings
.metadata
.svn
.DS_Store
src/org.hyperFlex.updatesite/features/
src/org.hyperFlex.updatesite/plugins/
src/org.hyperFlex.updatesite/artifacts.jar
src/org.hyperFlex.updatesite/content.jar
src/org.hyperFlex.updatesite/logs.zip

install/build
install/eclipse

it.unibg.robotics.resolutionmodels.dsl*
