*.class

bin/

.settings
.metadata
.svn
.DS_Store
it.unibg.robotics.hyperFlex.updatesite/features/
it.unibg.robotics.hyperFlex.updatesite/plugins/
it.unibg.robotics.hyperFlex.updatesite/artifacts.jar
it.unibg.robotics.hyperFlex.updatesite/content.jar


it.unibg.robotics.resolutionmodels.dsl*
