<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HyperFlex Views"
            id="it.unibg.robotics.hyperflex.ui.views">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.unibg.robotics.hyperflex.ui.perspectives.HyperFlexPerspective"
            icon="icons/vp.ico"
            id="it.unibg.robotics.hyperflex.ui.perspective"
            name="HyperFlex">
         <description>
            HyperFlex Perspective
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="it.unibg.robotics.hyperflex.ui.perspective">
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true">
         </view>
         <view
               id="it.unibg.robotics.featuremodels.ui.views.instanceview"
               ratio="0.5"
               relationship="stack"
               relative="it.unibg.robotics.featuremodels.ui.views.constraintview"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="it.unibg.robotics.featuremodels.ui.views.constraintview"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="it.unibg.robotics.hyperflex.wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="it.robotics.unibg.hyperflex.wizard.category"
            name="HyperFlex">
      </category>
      <wizard
            category="it.robotics.unibg.hyperflex.wizard.category"
            class="it.unibg.robotics.hyperflex.ui.wizards.HyperFlexProjectWizard"
            descriptionImage="icons/vp.ico"
            finalPerspective="it.unibg.robotics.hyperflex.ui.perspective"
            icon="icons/vp.ico"
            id="it.robotics.unibg.hyperflex.wizard.hyperflex.project"
            name="HyperFlex Project"
            project="true">
         <description>
            HyperFlex Project
         </description>
      </wizard>
   </extension>
   <extension
         id="it.unibg.robotics.hyperflex.ui.natures.HyperFlexProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="it.unibg.robotics.hyperflex.ui.natures.HyperFlexProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/vp_nature.ico"
            id="it.unibg.robotics.hyperflex.ui.natures.HyperFlexProjectNatureImage"
            natureId="it.unibg.robotics.hyperflex.ui.natures.HyperFlexProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <separator
               name="it.unibg.robotics.hyperflex.menu.new.separatorProjects"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=it.unibg.robotics.hyperflex.menu.new.separatorProjects">
         <separator
               name="it.unibg.robotics.hyperflex.menu.new.separatorModels"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?start=it.unibg.robotics.hyperflex.menu.new.separatorProjects">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/vp.ico"
               label="HyperFlex Project"
               style="push">
            <parameter
                  name="newWizardId"
                  value="it.robotics.unibg.hyperflex.wizard.hyperflex.project">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="it.unibg.robotics.hyperflex.menu"
               label="HyperFlex">
         </menu>
      </menuContribution>
   </extension>

</plugin>
