<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="compositionmodel_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="compositionmodel_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/compositionmodelDiagramFile.gif"
         extensions="compositionmodel_diagram"
         default="true"
         class="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditor"
         matchingStrategy="org.hyperflex.compositionmodel.diagram.part.CompositionModelMatchingStrategy"
         contributorClass="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.hyperflex.compositionmodel.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/compositionmodelDiagramFile.gif"
  	     category="org.hyperflex.hyperflex.wizard.category"
  	     class="org.hyperflex.compositionmodel.diagram.part.CompositionModelCreationWizard"
  	     id="org.hyperflex.compositionmodel.diagram.part.CompositionModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.hyperflex.componentmodels.composition.diagram.InitDiagram"
            nameFilter="*.compositionmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.hyperflex.compositionmodel.diagram.part.CompositionModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.hyperflex.componentmodels.composition.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="CompositionModelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="CompositionModelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="CompositionModelRender">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.hyperflex.compositionmodel.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.hyperflex.componentmodels.composition.diagram.general"
            name="%prefpage.org.hyperflex.componentmodels.composition.diagram.general"
            class="org.hyperflex.compositionmodel.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.composition.diagram.appearance"
            name="%prefpage.org.hyperflex.componentmodels.composition.diagram.appearance"
            category="org.hyperflex.componentmodels.composition.diagram.general"
            class="org.hyperflex.compositionmodel.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.composition.diagram.connections"
            name="%prefpage.org.hyperflex.componentmodels.composition.diagram.connections"
            category="org.hyperflex.componentmodels.composition.diagram.general"
            class="org.hyperflex.compositionmodel.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.composition.diagram.printing"
            name="%prefpage.org.hyperflex.componentmodels.composition.diagram.printing"
            category="org.hyperflex.componentmodels.composition.diagram.general"
            class="org.hyperflex.compositionmodel.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.composition.diagram.rulersAndGrid"
            name="%prefpage.org.hyperflex.componentmodels.composition.diagram.rulersAndGrid"
            category="org.hyperflex.componentmodels.composition.diagram.general"
            class="org.hyperflex.compositionmodel.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.hyperflex.componentmodels.composition.diagram"
            labelProvider="org.hyperflex.compositionmodel.diagram.sheet.CompositionModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.hyperflex.componentmodels.composition.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.hyperflex.componentmodels.composition.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.hyperflex.compositionmodel.diagram.sheet.CompositionModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.hyperflex.compositionmodel.diagram.providers.CompositionModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="CompositionModel"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,3007,3008,3009,3010,3011,3012,3013,3014"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.hyperflex.compositionmodel.diagram.providers.CompositionModelEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="CompositionModel"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,3007,3008,3009,3010,3011,3012,3013,3014"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5006,5007,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7003"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.hyperflex.compositionmodel.diagram.providers.CompositionModelModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemEditPart" id="ArchitectureModel_1000"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.System2EditPart" id="System_2002"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemProvidedInterfEditPart" id="SystemProvidedInterf_3007"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemRequiredInterfEditPart" id="SystemRequiredInterf_3008"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemCompositeEditPart" id="SystemComposite_3009"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemCompositeProvidedInterfEditPart" id="SystemCompositeProvidedInterf_3010"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.SystemCompositeRequiredInterfEditPart" id="SystemCompositeRequiredInterf_3011"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.ROSCompositeEditPart" id="ROSComposite_3012"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.ROSMsgProducerEditPart" id="ROSMsgProducer_3013"/>
         <object class="org.hyperflex.compositionmodel.diagram.edit.parts.ROSMsgConsumerEditPart" id="ROSMsgConsumer_3014"/>
         <context elements="ArchitectureModel_1000,System_2002,SystemProvidedInterf_3007,SystemRequiredInterf_3008,SystemComposite_3009,SystemCompositeProvidedInterf_3010,SystemCompositeRequiredInterf_3011,ROSComposite_3012,ROSMsgProducer_3013,ROSMsgConsumer_3014"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.hyperflex.compositionmodel.diagram.providers.CompositionModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.ArchitectureModel_1000"
               name="%metatype.name.ArchitectureModel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ArchitectureModel"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.System_2002"
               name="%metatype.name.System_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="System"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.System2EditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.SystemProvidedInterf_3007"
               name="%metatype.name.SystemProvidedInterf_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SystemProvidedInterf"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemProvidedInterfEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.SystemRequiredInterf_3008"
               name="%metatype.name.SystemRequiredInterf_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SystemRequiredInterf"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemRequiredInterfEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.SystemComposite_3009"
               name="%metatype.name.SystemComposite_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SystemComposite"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemCompositeEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.SystemCompositeProvidedInterf_3010"
               name="%metatype.name.SystemCompositeProvidedInterf_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SystemCompositeProvidedInterf"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemCompositeProvidedInterfEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.SystemCompositeRequiredInterf_3011"
               name="%metatype.name.SystemCompositeRequiredInterf_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SystemCompositeRequiredInterf"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.SystemCompositeRequiredInterfEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels.ros">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.ROSComposite_3012"
               name="%metatype.name.ROSComposite_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ROSComposite"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.ROSCompositeEditHelper">
            <param name="semanticHint" value="3012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels.ros">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.ROSMsgProducer_3013"
               name="%metatype.name.ROSMsgProducer_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ROSMsgProducer"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.ROSMsgProducerEditHelper">
            <param name="semanticHint" value="3013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels.ros">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.ROSMsgConsumer_3014"
               name="%metatype.name.ROSMsgConsumer_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ROSMsgConsumer"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.ROSMsgConsumerEditHelper">
            <param name="semanticHint" value="3014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://robotics.unibg.it/compositionmodels">
         <metamodelType
               id="org.hyperflex.componentmodels.composition.diagram.Connection_4002"
               name="%metatype.name.Connection_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Connection"
               edithelper="org.hyperflex.compositionmodel.diagram.edit.helpers.ConnectionEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.hyperflex.componentmodels.composition.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.hyperflex.componentmodels.composition.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.hyperflex.componentmodels.composition.diagram.TypeContext">
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.ArchitectureModel_1000"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.System_2002"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.SystemProvidedInterf_3007"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.SystemRequiredInterf_3008"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.SystemComposite_3009"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.SystemCompositeProvidedInterf_3010"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.SystemCompositeRequiredInterf_3011"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.ROSComposite_3012"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.ROSMsgProducer_3013"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.ROSMsgConsumer_3014"/>
         <elementType ref="org.hyperflex.componentmodels.composition.diagram.Connection_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.hyperflex.componentmodels.composition.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.hyperflex.componentmodels.composition.diagram"
           properties="isURIEditorInput"
           class="org.hyperflex.compositionmodel.diagram.part.CompositionModelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.hyperflex.componentmodels.composition.diagram.resourceContent"/>
			<contentExtension pattern="org.hyperflex.componentmodels.composition.diagram.domainResourceContent"/>
            <contentExtension pattern="org.hyperflex.componentmodels.composition.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.hyperflex.componentmodels.composition.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.hyperflex.componentmodels.composition.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelNavigatorContentProvider" 
            labelProvider="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelNavigatorLabelProvider"
            icon="icons/obj16/compositionmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="compositionmodel_diagram"/>
               </and>
               <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.hyperflex.componentmodels.composition.diagram.navigatorSorter" 
               class="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="compositionmodel_diagram"/>
                  </and>
                  <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.hyperflex.componentmodels.composition.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelDomainNavigatorContentProvider" 
            labelProvider="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelDomainNavigatorLabelProvider"
            icon="icons/obj16/compositionmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="compositionmodel"/>
               </and>
               <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.hyperflex.componentmodels.composition.diagram.navigatorActionProvider"
            class="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.hyperflex.componentmodels.composition.diagram.navigatorLinkHelper"
            class="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.hyperflex.componentmodels.composition.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.hyperflex.compositionmodel.diagram.navigator.CompositionModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.hyperflex.compositionmodel.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.hyperflex.compositionmodel.diagram.updateDiagram"
         contextId="org.hyperflex.compositionmodel.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.hyperflex.componentmodels.composition.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.hyperflex.compositionmodel.diagram.edit.parts.SystemEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.hyperflex.componentmodels.composition.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.hyperflex.compositionmodel.diagram.part.CompositionModelDiagramEditorID"
         defaultHandler="org.hyperflex.compositionmodel.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.hyperflex.compositionmodel.diagram.providers.CompositionModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>


   <!-- optionally, specify keybindings -->
</plugin>
