<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.unbig.robotics.featuremodels.commands.resolution.orocosResolution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Variability Resolution"
               label="Variability Resolution">
            <command
                  commandId="it.unbig.robotics.featuremodels.commands.resolution.orocosResolution"
                  icon="icons/start_task.gif"
                  id="ResolveOrocosModelButton"
                  label="Resolve Orocos Model"
                  style="push"
                  tooltip="Resolve Orocos Model">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.robotics.unibg.featuremodels.commands.resolution.toolbar1">
            <command
                  commandId="it.unbig.robotics.featuremodels.commands.resolution.orocosResolution"
                  icon="icons/start_task.gif"
                  id="ResolveOrocosModelButton"
                  label="Resolve Orocos Model"
                  style="push"
                  tooltip="Resolve Orocos Model">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="rootFeatureSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="featureModel.diagram.edit.parts.FeatureEditPart">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="Feature Model Resolution Commands"
            categoryId="it.robotics.unibg.featuremodels.commands.resolution.category"
            id="it.unbig.robotics.featuremodels.commands.resolution.orocosResolution"
            name="Orocos Resolution Command">
      </command>
      <category
            id="it.robotics.unibg.featuremodels.commands.resolution.category"
            name="Feature Model Resolution Commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.featuremodels.commands.orocosresolution.handlers.OrocosResolutionHandler"
            commandId="it.unbig.robotics.featuremodels.commands.resolution.orocosResolution">
         <enabledWhen>
            <reference
                  definitionId="rootFeatureSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
