<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rttResolution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:it.unibg.robotics.resolutionmodel.ui.menuEntry">
         <command
               commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rttResolution"
               icon="icons/start_task.gif"
               id="ResolveRTTsModelButton"
               label="Resolve RTT Model"
               style="push"
               tooltip="Resolve RTT Model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:it.robotics.unibg.featuremodels.commands.resolution.toolbar1">
         <command
               commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rttResolution"
               icon="icons/start_task.gif"
               id="ResolveRTTModelButton"
               label="Resolve RTT Model"
               style="push"
               tooltip="Resolve RTT Model">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="it.unibg.robotics.resolutionmodel.commands.resolution.category"
            id="it.unibg.robotics.resolutionmodel.commands.resolution.rttResolution"
            name="RTT Resolution Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.resolutionmodel.rtt.commands.resolution.handlers.RTTResolutionHandler"
            commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rttResolution">
         <enabledWhen>
            <reference
                  definitionId="it.unibg.robotics.resolutionmodel.rtt.commands.resolution.isRTTResModelSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="it.unibg.robotics.resolutionmodel.rtt.commands.resolution.isRTTResModelSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  
                     <instanceof
                           value="it.unibg.robotics.resolutionmodel.ResolutionModel">
                     </instanceof>
                     <test
                        forcePluginActivation="true"
                        property="it.unibg.robotics.resolutionmodel.rtt.expressions.resolutionModelType.is_a_RTT_resolution_model">
                  </test>
               </iterate> </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="it.unibg.robotics.resolutionmodel.rtt.commands.resolution.expressions.RTTResolutionModelTypeTester"
            id="it.unibg.robotics.resolutionmodel.rtt.expressions.resolutionModelPropertyTester"
            namespace="it.unibg.robotics.resolutionmodel.rtt.expressions.resolutionModelType"
            properties="is_a_RTT_resolution_model"
            type="it.unibg.robotics.resolutionmodel.ResolutionModel">
      </propertyTester>
   </extension>

</plugin>
