<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.unbig.robotics.resolutionmodel.commands.resolution.rttResolution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:it.unibg.robotics.resolutionmodel.ui.menuEntry">
         <command
               commandId="it.unbig.robotics.resolutionmodel.commands.resolution.rttResolution"
               icon="icons/start_task.gif"
               id="ResolveRTTsModelButton"
               label="Resolve RTT Model"
               style="push"
               tooltip="Resolve RTT Model">
         </command>
         <menu
               id="Variability Resolution"
               label="Variability Resolution">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.robotics.unibg.featuremodels.commands.resolution.toolbar1">
            <command
                  commandId="it.unbig.robotics.resolutionmodel.commands.resolution.rttResolution"
                  icon="icons/start_task.gif"
                  id="ResolveRTTModelButton"
                  label="Resolve RTT Model"
                  style="push"
                  tooltip="Resolve RTT Model">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="Resolution Model Commands"
            categoryId="it.unibg.robotics.resolutionmodel.commands.resolution.category"
            id="it.unbig.robotics.resolutionmodel.commands.resolution.rttResolution"
            name="RTT Resolution Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.resolutionmodel.rtt.commands.resolution.handlers.RTTResolutionHandler"
            commandId="it.unbig.robotics.resolutionmodel.commands.resolution.rttResolution">
         <enabledWhen>
            <reference
                  definitionId="it.unibg.robotics.resolutionmodel.expressions.resolutionModelSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
