<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rosResolution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:it.unibg.robotics.resolutionmodel.ui.menuEntry">
         <command
               commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rosResolution"
               icon="icons/start_task.gif"
               id="ResolveROSModelButton"
               label="Resolve ROS Model"
               style="push"
               tooltip="Resolve ROS Model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:it.robotics.unibg.featuremodels.commands.resolution.toolbar1">
         <command
               commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rosResolution"
               icon="icons/start_task.gif"
               id="ResolveROSModelButton"
               label="Resolve ROS Model"
               style="push"
               tooltip="Resolve ROS Model">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="it.unibg.robotics.resolutionmodel.commands.resolution.category"
            id="it.unibg.robotics.resolutionmodel.commands.resolution.rosResolution"
            name="ROS Resolution Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.resolutionmodel.ros.commands.resolution.handlers.ROSResolutionHandler"
            commandId="it.unibg.robotics.resolutionmodel.commands.resolution.rosResolution">
         <enabledWhen>
            <and>
               <reference
                     definitionId="it.unibg.robotics.resolutionmodel.expressions.resolutionModelSelected">
               </reference>
               <reference
                     definitionId="it.unibg.robotics.resolutionmodel.ros.commands.resolution.definition1">
               </reference>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="it.unibg.robotics.resolutionmodel.ros.commands.resolution.definition1">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="it.unibg.robotics.resolutionmodel.ResolutionModel">
                     <with
                           variable="resolutionElements">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <instanceof
                                 value="it.unibg.robotics.resolutionmodel.RMResolutionElement">
                           </instanceof>
                        </iterate>
                     </with>
                  </adapt>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>

</plugin>
