<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Feature Model Commands"
            id="org.hyperflex.featuremodels.commands.featureSelection.category">
      </category>
      <command
            categoryId="org.hyperflex.featuremodels.commands.featureSelection.category"
            id="org.hyperflex.featuremodels.commands.featureSelection.selection"
            name="Feature Selection Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.hyperflex.featuremodels.commands.featureselection.handlers.FeatureSelectionHandler"
            commandId="org.hyperflex.featuremodels.commands.featureSelection.selection">
         <enabledWhen>
            <reference
                  definitionId="oneFeatureSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.hyperflex.featuremodels.commands.featureSelection.category"
            id="org.hyperflex.featuremodels.commands.featureSelection.deselection"
            name="Feature Deselection Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.hyperflex.featuremodels.commands.featureselection.handlers.FeatureDeselectionHandler"
            commandId="org.hyperflex.featuremodels.commands.featureSelection.deselection">
         <enabledWhen>
            <reference
                  definitionId="oneFeatureSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.hyperflex.featuremodels.commands.featureSelection.selection"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.hyperflex.featuremodels.commands.featureSelection.deselection"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.hyperflex.menu">
         <menu
               id="Feature Model"
               label="FeatureModel">
            <command
                  commandId="org.hyperflex.featuremodels.commands.featureSelection.selection"
                  icon="icons/signed_yes.gif"
                  label="Add Feature To Instance"
                  style="push"
                  tooltip="Add Feature To Instance">
            </command>
            <command
                  commandId="org.hyperflex.featuremodels.commands.featureSelection.deselection"
                  icon="icons/signed_no.gif"
                  label="Remove Feature From Instance"
                  style="push"
                  tooltip="Remove Feature From Instance">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.hyperflex.featureModel.commands.featureSelection.toolbar1">
            <command
                  commandId="org.hyperflex.featuremodels.commands.featureSelection.selection"
                  icon="icons/signed_yes.gif"
                  id="AddFeatureToInstanceButton"
                  label="Add Feature To Instance"
                  style="push"
                  tooltip="Add Feature To Instance">
            </command>
            <command
                  commandId="org.hyperflex.featuremodels.commands.featureSelection.deselection"
                  icon="icons/signed_no.gif"
                  id="RemoveFeatureFromInstanceButton"
                  label="Remove Feature From Instance"
                  style="push"
                  tooltip="Remove Feature From Instance">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneFeatureSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.hyperflex.featuremodels.diagram.edit.parts.Feature2EditPart">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>

</plugin>
