<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.hyperflex.menu">
         <menu
               id="org.hyperflex.componentmodels.menu"
               label="Component Models">
            <menu
                  id="org.hyperflex.componentmodels.menu.m2t"
                  label="Model-2-Text">
            </menu>
         </menu>
      </menuContribution>
      
   </extension>

</plugin>
