<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 HyperFlex Toolchain
 
 Copyright (c) 2011
 All rights reserved.
 
 Luca Gherardi
 Department of Engineering
 University of Bergamo
 
 ***********************************************************************************************
 
 Author: <A HREF="mailto:lucagh@ethz.ch">Luca Gherardi</A>
 
 In collaboration with: <A HREF="mailto:brugali@unibg.it">Davide Brugali</A>
 
 ***********************************************************************************************
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.hyperflex.resolutionmodels.presentation.resolutionmodelModelWizardID"
            name="%_UI_resolutionmodelsModelWizard_label"
            class="org.hyperflex.resolutionmodels.presentation.resolutionmodelsModelWizard"
            category="org.hyperflex.wizard.category"
            icon="icons/rm.ico">
         <description>%_UI_resolutionmodelsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.hyperflex.resolutionmodels.presentation.resolutionmodelEditorID"
            name="%_UI_resolutionmodelsEditor_label"
            icon="icons/rm.ico"
            extensions="resolutionmodel"
            class="org.hyperflex.resolutionmodels.presentation.resolutionmodelsEditor"
            contributorClass="org.hyperflex.resolutionmodels.presentation.resolutionmodelsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated resolutionModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.hyperflex.resolutionmodels.presentation.resolutionmodelsModelWizardID"
            name="%_UI_resolutionmodelsModelWizard_label"
            class="org.hyperflex.resolutionmodels.presentation.resolutionmodelsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/resolutionmodelsModelFile.gif">
         <description>%_UI_resolutionmodelsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated resolutionModel -->
      <editor
            id="org.hyperflex.resolutionmodels.presentation.resolutionmodelsEditorID"
            name="%_UI_resolutionmodelsEditor_label"
            icon="icons/full/obj16/resolutionmodelsModelFile.gif"
            extensions="resolutionmodels"
            class="org.hyperflex.resolutionmodels.presentation.resolutionmodelsEditor"
            contributorClass="org.hyperflex.resolutionmodels.presentation.resolutionmodelsActionBarContributor">
      </editor>
   </extension>
</plugin>
