<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.hyperflex.componentmodels.ros.m2t.category"
            name="ROS M2T">
      </category>
      <command
            categoryId="org.hyperflex.componentmodels.ros.m2t.category"
            id="org.hyperflex.componentmodels.ros.m2t.rosLaunch"
            name="Generate Launch File for ROS deployment">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.unibg.robotics.componentmodels.ros.m2t.handler.RosLaunchTransform"
            commandId="org.hyperflex.componentmodels.ros.m2t.rosLaunch">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.hyperflex.componentmodels.menu.m2t">
         <command
               commandId="org.hyperflex.componentmodels.ros.m2t.rosLaunch"
               label="Generate ROS Launch File"
               style="push">
         </command>
      </menuContribution>
      
   </extension>

</plugin>
