<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
HyperFlex Plugins

Copyright (c) 2013
All rights reserved.

Luca Gherardi
University of Bergamo
Dept. of Information Technology and Mathematics

***********************************************************************************************

Author: <A HREF="mailto:lucagh@ethz.ch">Luca Gherardi</A>

In collaboration with: <A HREF="mailto:brugali@unibg.it">Davide Brugali</A>

***********************************************************************************************

All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html


-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="orocoscomponentmodel_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="orocoscomponentmodel_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/orocoscomponentmodelDiagramFile.gif"
         extensions="orocoscomponentmodel_diagram"
         default="true"
         class="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditor"
         matchingStrategy="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelMatchingStrategy"
         contributorClass="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.hyperflex.orocoscomponentmodel.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/orocoscomponentmodelDiagramFile.gif"
  	     category="org.hyperflex.wizard.category"
  	     class="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelCreationWizard"
  	     id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.hyperflex.componentmodels.orocos.diagram.InitDiagram"
            nameFilter="*.orocoscomponentmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.hyperflex.componentmodels.orocos.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OrocosComponentModelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OrocosComponentModelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OrocosComponentModelRender">
         <Priority name="Lowest"/>
         <ViewId id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.hyperflex.componentmodels.orocos.diagram.general"
            name="%prefpage.org.hyperflex.componentmodels.orocos.diagram.general"
            class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.orocos.diagram.appearance"
            name="%prefpage.org.hyperflex.componentmodels.orocos.diagram.appearance"
            category="org.hyperflex.componentmodels.orocos.diagram.general"
            class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.orocos.diagram.connections"
            name="%prefpage.org.hyperflex.componentmodels.orocos.diagram.connections"
            category="org.hyperflex.componentmodels.orocos.diagram.general"
            class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.orocos.diagram.printing"
            name="%prefpage.org.hyperflex.componentmodels.orocos.diagram.printing"
            category="org.hyperflex.componentmodels.orocos.diagram.general"
            class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.hyperflex.componentmodels.orocos.diagram.rulersAndGrid"
            name="%prefpage.org.hyperflex.componentmodels.orocos.diagram.rulersAndGrid"
            category="org.hyperflex.componentmodels.orocos.diagram.general"
            class="org.hyperflex.orocoscomponentmodel.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.hyperflex.componentmodels.orocos.diagram"
            labelProvider="org.hyperflex.orocoscomponentmodel.diagram.sheet.OrocosComponentModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.hyperflex.componentmodels.orocos.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.hyperflex.componentmodels.orocos.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.hyperflex.orocoscomponentmodel.diagram.sheet.OrocosComponentModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.hyperflex.orocoscomponentmodel.diagram.providers.OrocosComponentModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="OrocosComponentModel"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4010,4011,4012,4013,4014,4015"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.hyperflex.orocoscomponentmodel.diagram.providers.OrocosComponentModelEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="OrocosComponentModel"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4010,4011,4012,4013,4014,4015"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5009,5007,5006,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7003,7004"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.hyperflex.orocoscomponentmodel.diagram.providers.OrocosComponentModelModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.SystemEditPart" id="System_1000"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompositeEditPart" id="Composite_2002"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TaskContextEditPart" id="TaskContext_3017"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TCInputDataPortEditPart" id="TCInputDataPort_3018"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TCOutputDataPortEditPart" id="TCOutputDataPort_3019"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TCPropertyEditPart" id="TCProperty_3020"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TCOperationEditPart" id="TCOperation_3021"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.TCOperationCallerEditPart" id="TCOperationCaller_3022"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.Composite2EditPart" id="Composite_3023"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompInputPortEditPart" id="CompInputPort_3024"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOutputPortEditPart" id="CompOutputPort_3025"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOperationEditPart" id="CompOperation_3026"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOperationCallerEditPart" id="CompOperationCaller_3027"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompInputPort2EditPart" id="CompInputPort_3028"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOutputPort2EditPart" id="CompOutputPort_3029"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOperation2EditPart" id="CompOperation_3030"/>
         <object class="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.CompOperationCaller2EditPart" id="CompOperationCaller_3031"/>
         <context elements="System_1000,Composite_2002,TaskContext_3017,TCInputDataPort_3018,TCOutputDataPort_3019,TCProperty_3020,TCOperation_3021,TCOperationCaller_3022,Composite_3023,CompInputPort_3024,CompOutputPort_3025,CompOperation_3026,CompOperationCaller_3027,CompInputPort_3028,CompOutputPort_3029,CompOperation_3030,CompOperationCaller_3031"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.hyperflex.orocoscomponentmodel.diagram.providers.OrocosComponentModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.hyperflex.orocoscomponentmodel.diagram.providers.OrocosComponentModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.System_1000"
               name="%metatype.name.System_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="System"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.SystemEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.Composite_2002"
               name="%metatype.name.Composite_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Composite"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.CompositeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TaskContext_3017"
               name="%metatype.name.TaskContext_3017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TaskContext"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TaskContextEditHelper">
            <param name="semanticHint" value="3017"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TCInputDataPort_3018"
               name="%metatype.name.TCInputDataPort_3018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TCInputDataPort"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TCInputDataPortEditHelper">
            <param name="semanticHint" value="3018"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TCOutputDataPort_3019"
               name="%metatype.name.TCOutputDataPort_3019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TCOutputDataPort"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TCOutputDataPortEditHelper">
            <param name="semanticHint" value="3019"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TCProperty_3020"
               name="%metatype.name.TCProperty_3020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TCProperty"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TCPropertyEditHelper">
            <param name="semanticHint" value="3020"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TCOperation_3021"
               name="%metatype.name.TCOperation_3021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TCOperation"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TCOperationEditHelper">
            <param name="semanticHint" value="3021"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.TCOperationCaller_3022"
               name="%metatype.name.TCOperationCaller_3022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TCOperationCaller"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.TCOperationCallerEditHelper">
            <param name="semanticHint" value="3022"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.Composite_3023"
               name="%metatype.name.Composite_3023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.Composite_2002"/>
            <param name="semanticHint" value="3023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3024"
               name="%metatype.name.CompInputPort_3024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompInputPort"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.CompInputPortEditHelper">
            <param name="semanticHint" value="3024"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3025"
               name="%metatype.name.CompOutputPort_3025"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompOutputPort"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.CompOutputPortEditHelper">
            <param name="semanticHint" value="3025"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3026"
               name="%metatype.name.CompOperation_3026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompOperation"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.CompOperationEditHelper">
            <param name="semanticHint" value="3026"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3027"
               name="%metatype.name.CompOperationCaller_3027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompOperationCaller"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.CompOperationCallerEditHelper">
            <param name="semanticHint" value="3027"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3028"
               name="%metatype.name.CompInputPort_3028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3024"/>
            <param name="semanticHint" value="3028"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3029"
               name="%metatype.name.CompOutputPort_3029"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3025"/>
            <param name="semanticHint" value="3029"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3030"
               name="%metatype.name.CompOperation_3030"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3026"/>
            <param name="semanticHint" value="3030"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3031"
               name="%metatype.name.CompOperationCaller_3031"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3027"/>
            <param name="semanticHint" value="3031"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.ConnectionPolicy_4010"
               name="%metatype.name.ConnectionPolicy_4010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConnectionPolicy"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.ConnectionPolicyEditHelper">
            <param name="semanticHint" value="4010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_4011"
               name="%metatype.name.CompOutputPort_4011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3025"/>
            <param name="semanticHint" value="4011"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_4012"
               name="%metatype.name.CompInputPort_4012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3024"/>
            <param name="semanticHint" value="4012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <metamodelType
               id="org.hyperflex.componentmodels.orocos.diagram.PeersConnection_4013"
               name="%metatype.name.PeersConnection_4013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PeersConnection"
               edithelper="org.hyperflex.orocoscomponentmodel.diagram.edit.helpers.PeersConnectionEditHelper">
            <param name="semanticHint" value="4013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperation_4014"
               name="%metatype.name.CompOperation_4014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3026"/>
            <param name="semanticHint" value="4014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.hyperflex.org/componentmodels.orocos">
         <specializationType
               id="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_4015"
               name="%metatype.name.CompOperationCaller_4015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3027"/>
            <param name="semanticHint" value="4015"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.hyperflex.componentmodels.orocos.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.hyperflex.componentmodels.orocos.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.hyperflex.componentmodels.orocos.diagram.TypeContext">
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.System_1000"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.Composite_2002"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TaskContext_3017"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TCInputDataPort_3018"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TCOutputDataPort_3019"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TCProperty_3020"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TCOperation_3021"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.TCOperationCaller_3022"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.Composite_3023"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3024"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3025"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3026"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3027"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_3028"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_3029"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperation_3030"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_3031"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.ConnectionPolicy_4010"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOutputPort_4011"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompInputPort_4012"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.PeersConnection_4013"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperation_4014"/>
         <elementType ref="org.hyperflex.componentmodels.orocos.diagram.CompOperationCaller_4015"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.hyperflex.componentmodels.orocos.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.hyperflex.componentmodels.orocos.diagram"
           properties="isURIEditorInput"
           class="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.hyperflex.componentmodels.orocos.diagram.resourceContent"/>
			<contentExtension pattern="org.hyperflex.componentmodels.orocos.diagram.domainResourceContent"/>
            <contentExtension pattern="org.hyperflex.componentmodels.orocos.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.hyperflex.componentmodels.orocos.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.hyperflex.componentmodels.orocos.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelNavigatorContentProvider" 
            labelProvider="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelNavigatorLabelProvider"
            icon="icons/obj16/orocoscomponentmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orocoscomponentmodel_diagram"/>
               </and>
               <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.hyperflex.componentmodels.orocos.diagram.navigatorSorter" 
               class="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="orocoscomponentmodel_diagram"/>
                  </and>
                  <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.hyperflex.componentmodels.orocos.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelDomainNavigatorContentProvider" 
            labelProvider="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelDomainNavigatorLabelProvider"
            icon="icons/obj16/orocoscomponentmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orocoscomponentmodel"/>
               </and>
               <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.hyperflex.componentmodels.orocos.diagram.navigatorActionProvider"
            class="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.hyperflex.componentmodels.orocos.diagram.navigatorLinkHelper"
            class="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.hyperflex.componentmodels.orocos.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.navigator.OrocosComponentModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.hyperflex.orocoscomponentmodel.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.hyperflex.orocoscomponentmodel.diagram.updateDiagram"
         contextId="org.hyperflex.orocoscomponentmodel.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.hyperflex.componentmodels.orocos.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.hyperflex.orocoscomponentmodel.diagram.edit.parts.SystemEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.hyperflex.componentmodels.orocos.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.hyperflex.orocoscomponentmodel.diagram.part.OrocosComponentModelDiagramEditorID"
         defaultHandler="org.hyperflex.orocoscomponentmodel.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
